#footer-container {
    /* border: 1px solid red; */
    position: fixed;
    bottom: 0;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    color: white;
    height: 80px;
    gap: 20px;
    width: 100%;
}


.footer-main {
    margin: 10px auto 0 auto;
    width: 100%;
    display: flex;
}

#footer-nav-list {
    /* border: 1px solid red; */
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#footer-nav-list ul {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.footer-nav-item {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 900;
}

.footer-nav-item a:hover {
    text-decoration: underline;
}

.copyright {
    background-color: var(--main-color);
    display: flex;
    width: 100%;
    justify-content: center;
}

.copyright span {
    color: white;
    display: flex;
    font-size: 0.75rem;
}