#hero-container {
  border-right: 1px solid var(--line-color);
  border-left: 1px solid var(--line-color);
  border-bottom: 1px solid var(--line-color);
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: auto;
  max-width: 1600px;
  height: calc(100vh - 100px);
  background-image: url(../icons/Group.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right;
}

/* H1 */
.hero-item {
  display: flex;
  justify-content: center;
  margin: 8rem auto 2rem auto;
  color: white;
  font-family: Barlow-Regular;
  text-align: center;
  font-size: 2.5rem;
}

.hero-item h1 span {
  color: var(--main-color);
}

.hero-item2 {
  border: 1px solid var(--main-color);
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 60%;
  padding: 24px 40px 24px 40px;
  color: var(--main-color);
  background-color: #1b1b1b;
  border-radius: 12px;
  font-size: 1.75rem;
  opacity: 0.8;
}

/* BUTTON */
.hero-item-button {
  display: flex;
  justify-content: center;
  margin: 5rem auto;
  color: white;
  font-family: Barlow-Regular;
  font-weight: 900;
  font-size: 1.2rem;
}

#hero-play-button {
  padding: 18px 28px;
  border-radius: 100px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}
#hero-play-button:hover {
  background-color: white;
  border: 1px solid white;
  color: var(--main-color);
}
#hero-play-button:active {
  background-color: transparent;
  border: 1px solid var(--main-color);
  color: white;
}

@media (max-width: 576px) {
  #hero-container {
    background-size: 100%;
    padding: 0px 10px;
  }
  .hero-item {
    margin: 5rem auto 2rem auto;
    font-size: 2rem;
  }
  .hero-item2 {
    max-width: 85%;
    padding: 12px 20px;
    font-size: 1.25rem;
  }
  .hero-item-button {
    margin: 3rem auto;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  #hero-container {
    background-size: 80%;
  }
  .hero-item {
    margin: 5rem auto 4rem auto;
  }
  .hero-item2 {
    max-width: 80%;
    padding: 12px 26px;
    font-size: 1.5rem;
    opacity: 0.8;
  }
  .hero-item-button {
    font-size: 1rem;
  }
  #hero-play-button {
    padding: 16px 24px;
  }
}

@media (max-width: 992px) {
  .hero-item {
    margin: 5rem auto 2rem auto;
  }
  .hero-item2 {
    max-width: 80%;
    padding: 24px 24px;
    font-size: 1.5rem;
  }
  .hero-item-button {
    margin: 3rem auto;
    font-size: 1rem;
  }
}