#hero-container {
  border-right: 1px solid var(--line-color);
  border-left: 1px solid var(--line-color);
  border-bottom: 1px solid var(--line-color);
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 0px 10% 0px 10%;
  padding-top: 100px;
  height: 796px;
  background-image: url(../icons/Group.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: right;
}

/* H1 + P */
.hero-item {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  margin-top: 112px;
  margin-left: 325px;
  margin-right: 325px;
  color: white;
  font-family: Barlow-Regular;
  text-align: center;
  font-size: 2.5rem;
}

.hero-item h1 span {
  color: var(--main-color);
}

.hero-item2 {
  border: 1px solid var(--main-color);
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-left: 365px;
  margin-right: 365px;
  padding: 24px 40px 24px 40px;
  color: var(--main-color);
  background-color: #1b1b1b;
  border-radius: 12px;
  font-family: Barlow-Regular;
  font-size: 1.75rem;
  opacity: 0.8;
}

/* BUTTON */
.hero-item-button {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 13px;
  color: white;
  font-family: Barlow-Regular;
  font-size: 1.2rem;
}

#hero-work-button {
  padding: 18px 28px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  font-family: Barlow-Medium;
  opacity: 0.8;
}
#hero-work-button:hover {
  background-color: #333333;
}

#hero-cv-button {
  padding: 18px 28px;
  border-radius: 10px;
  background-color: var(--main-color);
  border: 1px solid transparent;
  color: white;
  font-family: Barlow-Medium;
}
#hero-cv-button:hover {
  background-color: var(--main-hover-color);
  border: 1px solid var(--main-color);
}
#hero-cv-button:active {
  background-color: transparent;
  border: 1px solid var(--main-color);
  color: white;
}

@media (max-width: 640px) {
  #hero-container {
    border-right: none;
    border-left: none;
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid var(--line-color);
    height: 100%;
    background-image: url(../icons/Group.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
  }
  
  /* H1 + P */
  .hero-item {
    /* border: 1px solid red; */
    display: row;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: Barlow-Regular;
    text-align: center;
    font-size: 1.5rem;
  }
  
  .hero-item h1 span {
    color: var(--main-color);
  }
  
  .hero-item2 {
    border: 1px solid var(--main-color);
    text-align: center;
    display: row;
    justify-content: center;
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 24px 40px 24px 40px;
    color: var(--main-color);
    background-color: #1b1b1b;
    border-radius: 12px;
    font-family: Barlow-Regular;
    font-size: 1rem;
    opacity: 0.8;
  }
  
  /* BUTTON */
  .hero-item-button {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 13px;
    color: white;
    font-family: Barlow-Regular;
    font-size: 1.2rem;
  }
  
  #hero-work-button {
    padding: 18px 28px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    font-family: Barlow-Medium;
    opacity: 0.8;
  }
  #hero-work-button:hover {
    background-color: #333333;
  }
  
  #hero-cv-button {
    padding: 18px 28px;
    border-radius: 10px;
    background-color: var(--main-color);
    border: 1px solid transparent;
    color: white;
    font-family: Barlow-Medium;
  }
}