/* header {
  padding: 20px 50px;
  border-bottom: 1px solid var(--line-color);
  font-family: Barlow-Medium;
} */

/* .nav-all-item {
  display: flex;
  justify-content: space-between;
}

#nav-logo {
  display: flex;
}

.logo-navbar {
  width: 100px;
}

#nav-conatainer {
  list-style: none;
  display: flex;
  align-items: center;
  color: white;
}
#nav-conatainer a {
  background-color: transparent;
  padding: 20px;
}
#nav-conatainer a:hover {
  padding: 20px;
}

.nav-item {
  font-size: 1.25rem;
} */

/* NAVBURGER */

.mns-logo {
  width: 100px;
}
nav {
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid var(--line-color);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}

.burg-menu a {padding: 0px;}
.menu-text {font-size: 0.75rem; font-weight: 900;margin-right: 1px;}
.menu-text:hover {text-decoration: none;}

nav a:hover {
  text-decoration: underline;
}

nav li:first-child {
  margin-right: auto;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(23,30,59,0.5);
  backdrop-filter: blur(20px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.34);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}
.sidebar a:hover {
  text-decoration: none;
  color: var(--main-color);
  transition: ease-in-out 0.3s;
}

.menu-text {
  color: white;
}

.menu-button {
  display: none;
  padding-right: 20px;
}

.close-menu-button {
  position: fixed;
  top: 0;
  left: 95%;
}

@media (max-width: 9999px) {
  .menu-button {
      display: block;
  }
}
@media (max-width: 9999px) {
  .sidebar {
      width: 100%;
  }
}
