body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    max-height: 100vh;
    scrollbar-width: none;
    background-image: url(../icons/Group.svg);
    background-size: 40%;
    background-repeat: no-repeat;
    background-color: rgb(22, 29, 56);
    background-position-x: right;
    background-position-y: 50%;

}

img {
    max-width: 80%;
    max-height: 80vh;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
    /* Animation fluide */
    cursor: pointer;
    /* Indicateur visuel */
}

.zoomed {
    transform: scale(1.5);
    /* Zoom 1.5x */
}

#password-input {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
}

#next-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

#message {
    color: red;
    margin-top: 10px;
}