body {
    background-color: rgb(22, 29, 56);
}

h2 {
    color: #ec6834;
}

button {
    background-color: #ec6834;
}

img {
    width: 60%;
    border-radius: 10px;
}

img:hover {
    border: 2px solid #ec6834;
}

#afficherIndice {
    display: none;
    background-color: #545250e3;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 11px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
    p {
        color: #fff;
    }
  #indice {
    display: none;
    text-align: center;
  }

  #afficherIndice {
    background-color: #f57c00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }