#service-header {
    height: 120px;
    display: flex;
    margin: 0px auto 0px auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-decoration: underline;
    text-decoration-color: var(--main-color);
    text-underline-offset: 10px;
}

.title-service {
    display: flex;
    justify-content: center;
    font-size: 1.75rem;
    font-family: Barlow-SemiBold;
}

#photo-equipe {
    display: flex;
    justify-content: center;
}
.photo-equipe {
    width: 60%;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 5px 5px 5px 5px var(--line-color);
}

/* CARDS */
.glassm-2 {
    background-color: var(--main-color);
    backdrop-filter: blur(20px);
}

/* SERVICE CARD */
#card-service {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5%;
    margin-bottom: 2%;
    gap: 20px;
    max-width: 1920px;
    height: calc(100vh - 250px);
  }
  
  /* SERVICE 1 CARD */
  .card-service {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.126);
    font-family: Barlow-Regular;
    border-radius: 25px;
  }
  
  .card-service h3 {
    margin-top: 40px;
    font-size: 2rem;
  }
  
  .card-service p {
    margin-top: 50px;
    font-size: 1.5rem;
  }
  
  .card-service:hover:nth-child(1){
    background-image: url(../icons/axel.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
    transition: ease-in-out 1s;
  }
  .card-service:hover:nth-child(2){
    background-image: url(../icons/oceane.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
    transition: ease-in-out 1s;
  }
  .card-service:hover:nth-child(3){
    background-image: url(../icons/fabrice.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
    transition: ease-in-out 1s;
  }
  .card-service:hover:nth-child(4){
    background-image: url(../icons/noemie.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
    transition: ease-in-out 1s;
  }
  .card-service:hover:nth-child(5){
    background-image: url(../icons/jordane.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
    transition: ease-in-out 1s;
  }
  .card-service:hover:nth-child(6){
    background-image: url(../icons/nine.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
    transition: ease-in-out 1s;
  }
  .card-service:hover:nth-child(7){
    background-image: url(../icons/julian.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
    transition: ease-in-out 1s;
  }
  .card-service:hover:nth-child(8){
    background-image: url(../icons/helene.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
    transition: ease-in-out 1s;
  }
  .card-service:hover:nth-child(9){
    background-image: url(../icons/christopher.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
    transition: ease-in-out 1s;
  }
  .card-service:hover:nth-child(10){
    background-image: url(../icons/oara.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
    transition: ease-in-out 1s;
  }
  .card-service:hover:nth-child(11){
    background-image: url(../icons/olivier.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
    transition: ease-in-out 1s;
  }
  .card-service:hover:nth-child(12){
    background-image: url(../icons/zizou.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
    transition: ease-in-out 1s;
  }
  .card-service:hover:nth-child(13){
    background-image: url(../icons/luc.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
    transition: ease-in-out 1s;
  }
  .card-service:hover p {
    display: none;
  }
  .card-service:hover h3 {
    display: none;
  }
  .card-service:hover .github-link {
    display: flex;
    margin-top: -200px;
    padding: 10px 15px;
    background: white;
    border-radius: 10px;
    border: 2px solid black;
  }
  .arrow-icon {
    width: 10px;
  }

  .github-link {
    display: none;
  }