#service-header {
    /* filter: blur(5px); */
    height: 150px;
    display: flex;
    margin: 0px 162px 0px 162px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    /* --- BG--- */
    /*background-image: url(../images/Type=Nebula.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;*/
    background: radial-gradient(circle, rgba(191,86,44,1) 0%, rgba(22,29,56,1) 64%, rgba(22,29,56,1) 100%);
}

.title-service {
    display: flex;
    justify-content: center;
    font-size: 1.75rem;
    font-family: Barlow-SemiBold;
}

#photo-equipe {
    display: flex;
    justify-content: center;
}
.photo-equipe {
    background-position: center;
    width: 65%;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 5px 5px 5px 5px var(--line-color);
}

/* CARDS */
.glassm-2 {
    background-color: var(--main-color);
    backdrop-filter: blur(20px);
}

/* SERVICE CARD */
#card-service {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
    max-width: 1920px;
  }
  
  /* SERVICE 1 CARD */
  .card-service {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.126);
    font-family: Barlow-Regular;
    border-radius: 25px;
  }
  
  .card-service h3 {
    margin-top: 40px;
    font-size: 2rem;
  }
  
  .card-service p {
    margin-top: 50px;
    font-size: 1.5rem;
  }
  
  .card-service a {
    display: flex;
    justify-content: center;
    padding: 18px 0px 18px 0px;
    border-radius: 8px;
    margin-top: 104px;
    background-color: #262626;
    border: 1px solid rgba(80, 35, 255, 0.2);
  }
