#footer-container {
    /* border: 1px solid red; */
    border-bottom: 1px solid var(--line-color);
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Barlow-Regular;
    height: 192px;
}


.footer-main {
    margin: 50px auto 50px auto;
    width: 1596px;
    display: flex;
    justify-content: space-around;
}

#footer-nav-list {
    /* border: 1px solid red; */
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    color: white;
}
#footer-nav-list ul {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.footer-nav-item {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
}

.footer-nav-item a {
    padding: 10px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;

}

.footer-social {
        padding: 18px 28px;
        border-radius: 10px;
        background-color: var(--main-color);
        border: 1px solid transparent;
        color: white;
        font-family: Barlow-Medium;
}

.footer-social:hover {
    box-shadow: 0px 0px 10px 5px var(--line-color);
}

.company-name-footer {
    font-family: Barlow-Bold;
    font-size: 1.4rem;
}

.copyright {
    display: flex;
    width: 100%;
    justify-content: center;
}

.copyright span {
    color: #505050;
    display: flex;
}