/* .play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    color: white;
}

.play-button button {
    background-color: var(--main-color);
    box-shadow: 0px 0px 10px 0px var(--main-color);
    padding: 20px 28px;
    border-radius: 8px;
    border: 1px solid transparent;
    display: flex;
    font-size: 1.2rem;
}
.play-button button:hover {
    background-color: var(--main-hover-color);
    border: 1px solid var(--main-color);
}
.play-button button:active {
    background-color: transparent;
    border: 1px solid var(--main-color);
    color: white;
} */

/* BUTTON */
.hero-item-button {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 13px;
  color: white;
  font-family: Barlow-Regular;
  font-size: 1.2rem;
}

#hero-work-button {
  padding: 18px 28px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  font-family: Barlow-Medium;
  opacity: 0.8;
}
#hero-work-button:hover {
  background-color: #333333;
}

#hero-cv-button {
  padding: 18px 28px;
  border-radius: 10px;
  background-color: var(--main-color);
  border: 1px solid transparent;
  color: white;
  font-family: Barlow-Medium;
}
#hero-cv-button:hover {
  background-color: var(--main-hover-color);
  border: 1px solid var(--main-color);
}
#hero-cv-button:active {
  background-color: transparent;
  border: 1px solid var(--main-color);
  color: white;
}

/* SERVICE HEADER */
#service-header {
    /* filter: blur(5px); */
    border-left: 1px solid var(--line-color);
    border-right: 1px solid var(--line-color);
    height: 150px;
    display: flex;
    margin: 0px 162px 0px 162px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    /* --- BG--- */
    /*background-image: url(../images/Type=Nebula.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;*/
    background: radial-gradient(circle, rgba(191,86,44,1) 0%, rgba(22,29,56,1) 64%, rgba(22,29,56,1) 100%);
  }
  .title-service {
    display: flex;
    justify-content: center;
    font-size: 1.75rem;
    font-family: Barlow-SemiBold;
  }
  
  /* SERVICE CARD */
  #card-service {
    border: 1px solid var(--line-color);
    display: flex;
    flex-direction: row;
    margin: 0px 162px 0px 162px;
  }
  
  /* SERVICE 1 CARD */
  .card-service {
    margin: 10px;
    width: 33%;
    height: 476px;
    padding: 50px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Barlow-Regular;
    border: 1px solid #ec6834;
    border-radius: 8px;
    max-width: 600px;
  }
  
  .card-service h3 {
    margin-top: 20px;
    font-size: 1.8rem;
  }
  
  .card-service p {
    margin-top: 20px;
    font-size: 1.1rem;
  }
  
  .card-service a {
    display: flex;
    justify-content: center;
    padding: 18px 0px 18px 0px;
    border-radius: 8px;
    margin-top: 104px;
    background-color: #262626;
    border: 1px solid rgba(80, 35, 255, 0.2);
  }
  
  #card-service-middle {
    border-right: 1px solid var(--line-color);
    border-left: 1px solid var(--line-color);
  }
  
  /* ICON BOX */
  .icon-card {
    background-color: var(--secondary-color);
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px var(--line-color);
  }


